.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

__pycache__
.vs
.vscode
build/

#
/TestRunner/TestRunner.cpp
TestRunner/
Matrix/
/Matrix/Matrix.h
Graph (Python)/Testing.py
/Graph (Python)/old_graph.py
/Graph (Python)/Testing.ipynb
Graph (Python)/.vscode/settings.json
.vscode/settings.json
lib/
Graph.html
Graph/notes.txt
Graph/TODO.txt
Stack (Python)/Testing.ipynb
Graph (Python)/TODO.txt
Graph (Python)/notes.txt
Queue (Python)/Testing.ipynb
CppProperties.json
